<nav class="navbar navbar-expand-lg bg-success px-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img width="50" src="https://cdn.discordapp.com/avatars/819930985788866660/34e3e8e297d49daeb9333ff4e814d1c3.webp?size=80" alt=""></a>
   
   
<div class="px-2 col-md-10 col-lg-11 d-flex justify-content-left">
                          <!-- Right Side Of Navbar -->
                          <ul class="navbar-nav ms-auto">
                              <!-- Authentication Links -->
                              
                                  <li class="nav-item dropdown">
                                      <a id="navbarDropdown" class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                        Olá, <?= $_SESSION['nome'];?>
                                      </a>
                          
                                      <div class="dropdown-menu dropdown-menu-end  bg-success" aria-labelledby="navbarDropdown">
                                          <a class="dropdown-item text-white bg-success" name="sair" href="logout"
                                            onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                              <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                                              <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                            </svg> 
                                            
                                            Sair
                                          </a>
                  
                                          <form id="logout-form" action="logout" method="POST" class="d-none">
                                              
                                          </form>
                                      </div>
                                    
                                  </li>
                              
                          </ul>
                    
                      </div>
                    </div>
</nav>

